.browse {
    display: flex;
    justify-content: center;
    padding: 0px 0 95px 0;
    }

    &_product {
        padding: 14px 38px 13px 38px;
        border: 1px solid #FF6A6A;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;   
    }
}