.footer {
    background-color: $black-color;

    &__link {
        width: 10px;
        height: 10px;
        background-color: white;

        &:hover {
            background-color: $pink-color;
        }

        &:hover .footer__link-icon {
            fill: $dark-pink-color;
        }
    }

    &__vestibulum-container {
        display: flex;
        justify-content: center;
        background-image: url("../img/footer-vestibulum.jpg");
    }

    &__woman {
        display: flex;
        justify-content: center;
        padding: 87px 230px 0px 0px;
    }
    
    &__woman-text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #222224;
        text-align: center;
        width: 360px;
        padding: 9px 230px 126px 0px;
    }
    
    &__subscription-text {
        font-family: Lato;
        font-style: normal;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
        width: 557px;
        padding: 150px 0px 0px 0px;
    }
    
    &__subscription-container {
        position: absolute;
        right: 180px;
    }
    
    &__input {
        background: #E1E1E1;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;
        width: 323px;
        Height: 49px;
        border-radius: 20px 0 0 20px;
        z-index: 2;
    }
    
    &__input-button {
        background: #F16D7F;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 100px;
        Height: 55px;
        border-radius: 0 20px 20px 0;
        margin: -20px;
        position: relative;
        z-index: 1;
    }
    
    &__links-container {
        background-color: var(--black-color);
        Height: 79px;
        display: flex;
        justify-content: space-between;
    }
    
    &__links-right {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        padding: 30px 235px 0px 110px;
    }
    
    &__link-networks {
        padding: 24px 110px 0px 0px;
    }
    
    &__link {
        display: inline-block;
        Width: 32px;
        Height: 32px;
        text-align: center;
        border: 1px solid #000; 
        background: #FFFFFF;
    }
    
    &__link-ico {
        padding: 8px;
    }    
}