.offers

    &__container {
        background-color: var(--black-color);
        width: 100%;
        Height: 341px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__link {
        display: flex;
        justify-content: center;
        padding: 103px 0px 0px 0px;
    }

    &__title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
        padding: 28px 0px 16px 0px;
    }

    &__text {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        padding: 0px 30px 0px 30px;
    }
}
