.product {

    &__button {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
    }

    &__text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
        padding: 6px 0 48px 0;
    }

    &__price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        padding: 0px 0 50px 0;
    }

    &__item {
        width: 360px;

        @include min-mobile {
            width: 100%;
        }
    }

    &__img {
        display: block;

        @include min-mobile {
            width: 100%;
        }
    }

    &__description {
        background: $gray-color;
        padding: 25px 29px 20px 17px;
    }
}